/*          CLASSES         */
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 15px;
}

.social i {
  font-size: 20px;
  margin: 5px;
  color:black;
}

.social i:hover {
  color:#7cb89a;
}

.copyright {
  font-size: 12px;
}

.wrapper {
  min-height: calc(100vh - 70px);
}

.footer {
  height: 50px;
}

.nav {
  margin: 20px;
}

.nav a {
  font-weight: 700;
  font-size: 15px;
  margin: 20px 20px;
  color: black;
}

.skills {
  /* color:rgb(124, 184, 154); */
  color:black;
  display: block;
  margin: 90px 50px;
}

.project {
  width: 90%;
  margin: 100px auto;
  font-size: 15px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

.project a {
  margin: 0 5px;
  font-size: 12px;
  font-weight: 700;
}

.project-skills a {
  color:rgb(124, 184, 154);
  margin: 0 2px;
  font-size: 12px;
  font-weight: 500;
}

.github-link a, .github-link a:visited {
  text-decoration: none;
  color:#7cb89a;
}

.github-link a:hover {
  color: black;
}

/*          ELEMENTS         */

i {
  font-size: 40px;
  margin: 20px 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}


h2 {
  font-size: 30px;
  margin-bottom: 0;
}

hr {
  border: none;
  height: 10px;
  width: 50px;
  border-bottom: 5px solid #7cb89a;
  margin-bottom: 60px;
  margin-top: 0;
}

header {
  margin-top: 80px;
}

p {
  margin: 2% 20%;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
/*          MEDIA QUERIES         */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
