/*          CLASSES         */
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 15px;
}

.social i {
  font-size: 20px;
  margin: 8px 5px;
  color:black;
}

.social i:hover {
  color:#7cb89a;
}

.contact {
  margin: 0 250px;
}

.contact a, .contact a:visited {
  color:#7cb89a;
}
.copyright {
  font-size: 12px;
}

.wrapper {
  min-height: calc(100vh - 90px);
}

.footer {
  height: 50px;
}

.nav {
  padding: 20px;
  background-color: #7cb89a;
  color: white;
}


.nav a {
  font-weight: 600;
  font-size: 16px;
  margin: 20px 20px;
  color: white;
  letter-spacing: .5px;
}

.active {
  color:black;
}

.skills {
  /* color:rgb(124, 184, 154); */
  color:black;
  display: block;
  margin: 90px 50px;
}

.project {
  width: 90%;
  margin: 100px auto;
  font-size: 15px;

  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}
.project-container {
  margin: 0 120px;
}

.project a, .project a:visited {
  margin: 0 5px;
  font-size: 12px;
  font-weight: 700;
  color:black;
}

.project-skills a {
  color:rgb(124, 184, 154);
  margin: 0 2px;
  font-size: 12px;
  font-weight: 500;
}

.github-link a, .github-link a:visited {
  text-decoration: none;
  color:#7cb89a;
}

.github-link a:hover {
  color: black;
}

.email {
  color:#7cb89a;
}

/*          ELEMENTS         */

i {
  font-size: 40px;
  margin: 20px 20px;
}

a {
  text-decoration: none;
  /* color: black; */
}

button {
  background-color: #7cb89a;
  border-radius: 5px;
  color: white;
  padding: 5px;
  border: none;
}
button a {
  color: white;
}
h2 {
  font-size: 30px;
  margin-bottom: 0;
}

hr {
  border: none;
  height: 10px;
  width: 50px;
  border-bottom: 5px solid #7cb89a;
  margin-bottom: 60px;
  margin-top: 0;
}

header {
  margin-top: 80px;
}

p {
  margin: 2% 20%;
  line-height: 1.2rem;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
/*          MEDIA QUERIES         */

@media only screen and (max-width: 760px) {
  width: fit-content;

  .footer {
    bottom: 5px;
  }

  .skills {
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .nav a {
    font-size: 14px;
    padding: 0 2px;
    margin: 5px 12px;
  }

  .project-container {
    margin: 0 10px;
  }

  .contact {
    margin: 0 30px;
  }

  h1 {
    font-size: 50px;
  }

  i {
    font-size: 35px;
    margin: 5px 5px;
  }

  p {
    margin: 0 20px;
    padding: 10px;
    font-size: 15px;
  }


}
